/* reset */
* {margin:0;
    padding:0;
    box-sizing: border-box;    
}
html{
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
}



/* common */
.flex{
    display:flex;
}
ul{
    list-style-type: none
    
}
 ul li:not(.footer-top .col ul li){
    display:inline-block;
}
a{
    text-decoration: none;
    color:inherit;
    cursor:pointer;
}
.container{
    width:70%;
    margin:0 auto;
}

.vertical{
    vertical-align: middle;
}
.pt{
    padding:0.3em 0.5em;
    background-color:#0061ff;
    color:white;
}
.mt{
    margin-bottom: 1.5rem;
}
.margine-sub{
    margin-bottom:1.7rem;
}
.mb{
    margin-bottom:1rem;
}

main img{
    max-width:100%;
}

.iper-text{
    text-decoration: underline;
    color: blue;
}
.align-verticale{
    align-items: center;
}
.align-orizzontale{
    justify-content:space-between;
}
.bordo-inf{
    border-bottom:1px solid black;
}
.blocco{
    display:block;
    text-align:center;
}


/* header */

/* header-top */
.header-top{
    height:80px;

    background-color:white; 
    line-height: 76px;
    padding: 0px 10px;
    position: fixed;
    width:100%;
    top:0;
    left:0;
    margin: bottom 90px;
}

.header-top .row{
    /*height:100%;*/
    justify-content:space-between;
}




.header-top .col{
    width:35%;
    /*height:100%;*/
    /*background-color: green; debug*/

}
.header-top .col:nth-of-type(2){
   /* align-items: center;*/
}

.header-top nav{
    width:100%;
    /*align-items: center;*/

}
.header-top ul{
    width:100%;
    justify-content: space-around;
    /*line-height: 28px;*/
}

.header-top nav ul li img{
    height:22px;
}
/* sezione hover header-top*/
.header-top ul li:hover{
    border-bottom:2px solid black;
}

/*.header-top ul li{
   
        display:inline-block;
}
*/


/* header-bottom start*/

.header-bottom{
    /*min-height:400px;*/
   margin-top:90px;
    background-color: rgba(180,208,231,100%);
   padding-top:1rem;
}
.header-bottom .contenitore{
    
    width:80%;
    margin:2rem auto 0;
    /*background-color: darkorange;*/
    /*height: 350px; debug*/
}
.contenitore .riga{
    /*height:80px;*/
    /*background-color: blueviolet;*/
    font-size: 2rem;
}

.header-bottom .row{
    /*height:calc(100% - 80px);*/
}

.header-bottom .contenitore .col:nth-of-type(1){
    width:38%;
    /*background-color: red;*/
   /*  height:100%;impostazione base layout da rimuovere*/
    padding-bottom:0.65em;
}
.header-bottom .contenitore .col:nth-of-type(2){
    width:70%;
    /*height:100%; impostazione base layout da rimuovere*/
    /*background-color: blue;*/
}
.header-bottom img{
    max-width:75%;
}
.header-bottom .row .col span{
    display: inline-block;
    margin-bottom:1rem;
}
.header-bottom .row .col div i{
    font-size:1.5rem;
}



/* main */

/* prima sezione main abbonameto */
main .abbonamento{
   /* min-height:400px;debug*/
 padding-top:1.5rem;
   /* background-color:yellow;*/

}
 /*  height:300px; debug impostazione solo di layout*/
   /* background-color:pink;*/    

.abbonamento .container h3:first-child{
    font-size: 2rem;
    

}

.abbonamento .container form input:nth-of-type(2){
    margin-left:1.5rem;
}

.row{
    /*height:100%; debug*/
    justify-content: space-between;

}
.abbonamento .row .col{
   width:calc(100% / 3 - 20px);
    border:1px solid black;
    /*background-color: chartreuse;*/
}
/*.abbonamento .row .col .intestazione*/.intestazione{
border: 1px solid black;
text-align: center;
padding: 0.6em 0;
}
.abbonamento .row .col .corpo{
    padding:1rem 0.8rem;
}

.abbonamento .row .col .corpo div span{
    display:inline-block;
}
.abbonamento .row .col .corpo div span a{
    text-decoration: underline;
    color: blue;
}
.final ul li i{
    color:#0061ff;
}
.abbonamento .container .col:nth-of-type(3) .second a{
    /*margin-right:1rem;*/
}


/* fine prima sezione main */

/* inizio seconda sezione del main */
section.secondary{
    margin-top:2rem;
}

main .secondary .container{
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

main section:nth-of-type(2){
   /* height:100px; debug*/
    /*background-color: grey;*/
}
main section:nth-of-type(2) .container{
    /*height:100%;*/
    /*background-color: brown;*/
}
.secondary .contenuto{
    padding: 1rem;
    
}
.secondary .contenuto p {
    width:75%;
}
/* fine seconda sezione main */

/* inizio terza sezione main */

main .partner{
   /*  height:300px;debug
    
   background-color: aquamarine;*/
    padding:1rem 0;
}

.patner .container{
   /* height:200px;  debug
    background-color: cadetblue;*/

}





.partner .container .col.big{
    width:60%;
    /*background-color: darkcyan;/*
    /*height:200px;*/


}
.partner .container .col.small{
    width:40%;
   /*background-color: blueviolet;*/
    /*height:200px;/* debug*/
}
.partner .container .col.small .content{
    width:85%;
    margin:0 auto;
    padding-top:4rem;
}



/*  inizio sezione main griglia */
 section.griglia{
   /* background-color: yellowgreen; debug da eliminare in revisione*/
    /*min-height:400px; debug*/
    padding-top:1.7rem;
}

.griglia .row{
    justify-content: space-between;
    flex-wrap: wrap;
}
.container{
     /*height:100%;*/
    /*background-color: rebeccapurple;*/

}
.griglia .row .col{
    width:calc(100% / 3 - 10px);
    /*height:75px;*/
    margin-bottom:1rem;
    /*border:2px solid green; debug da eliminare in fasse di revisione*/
}
/*fine sezione griglia*/

/* sezione commento*/
section.comment{
    /*height:100px;/* debug*/
    /*background-color: burlywood; debug da eliminare in fase di revisione*/
    margin-bottom: 2.5rem;
}
.comment .container{
   /* min-height:50%; debug da eliminare
    background-color: tomato;*/
    padding-top:2rem;
}
section.comment .contenuto-testuale{
    width:50%;
}




/* sezione griglia immagini*/
section.image{
    
    
    /*background-color: aqua; debug*/
    
}

.image.row{
    
}

.image .row .col:nth-of-type(2){
    padding:1.5rem;
}


.image .row .col{
    width:calc(100% / 3);
    /*background-color: crimson;*/
    height:calc(100vw / 3);
    /*border:2px solid black;*/
}
/* griglia interna alle colonne interne alla sezione immagini */
.row-intern{
    /*background-color: darkmagenta;*/    
    height:100%;
    flex-wrap: wrap;
}
.row-intern .square{
    width:50%;
    height:50%;
    /*color:red;
    border:1px solid black;*/
}


.col:nth-of-type(1) .row-intern .square:nth-of-type(1){
    background-color: #d1e9cd;
}
.col:nth-of-type(1) .row-intern .square:nth-of-type(1) .card.first{
    height:95%;
    width:95%;
   margin:0 auto;
    background-color: #a2d39b;;
}

.col:nth-of-type(1) .row-intern .square:nth-of-type(1) .card.first .card-image{
    width:50%;
    margin:0 auto;
}

.col:nth-of-type(1) .row-intern .square:nth-of-type(2){
    background-color: rgba(97, 8, 43, 100%);
}

.col:nth-of-type(1) .row-intern .square:nth-of-type(3) {
    background-color: rgba(0, 147, 206, 100%);
   

}

.col:nth-of-type(1) .row-intern .square:nth-of-type(4){
    background-color: rgba(255, 28, 28, 100%);
}


.image .col:nth-of-type(2) {
    background-color: rgba(245,245,245,100%);
    overflow-y: auto;
}
.image .col:nth-of-type(2) .image-card.mt{
    width:50%;
}
.col:nth-of-type(odd) .row-intern .square .card:not(.first){
    width:50%;
    margin:0 auto;
}

.col:nth-of-type(3) .row-intern .square:nth-of-type(1){
    background-color: rgba(213,0,31,100%);
}
.col:nth-of-type(3) .row-intern .square:nth-of-type(2){
    background-color: rgba(180, 208, 231, 100%);
}
.col:nth-of-type(3) .row-intern .square:nth-of-type(3){
    background-color: rgba(13, 36, 129, 100%);
}
.col:nth-of-type(3) .row-intern .square:nth-of-type(4){
    background-color: rgba(255, 216, 48, 100%);
}








/* sezione prova gratuita */
main section.free{
    height:calc(100vw / 6);/* debug*/
    background-color: rgba(180,208,231,100%);
    padding:2rem 0;
    margin-bottom:2.5rem;
}
main section.free .container{
    
    /*background-color: darkblue;*/
}

main section.free .contenuto h2 {
    width:50%;
    font-size:2rem;
    color: #61082b;
}
main section.free .contenuto a.pt{
    background-color: white;
    color:black;
    padding:0.5em 0.9em;
}

/*sezione domande frequenti*/
main section.questions{
    /*min-height:300px;debug
    background-color: grey;*/
    padding:2rem 0;
}
.questions .container{
    /*background-color: violet;*/
    /*min-height:150px;*/
}
section.questions .titolo-domande h2{
    margin-bottom:2rem;

}
section.questions .domande .corpo {
    padding-right:0.3em;
    line-height: 3;
    flex-wrap: wrap;
}
section.questions .domande .corpo p{
    line-height: normal;
    display:none;
}
section.questions .domande .corpo a:hover + p{
    display:block;
}


/* fine sezione domande frequenti */

/* fine main */

/* footer */

footer{
    
    
    margin-top:2rem;
    background-color: black;
    color:white; 
    padding:2rem 0 1rem;
}

/* footer-top */

.footer-top{
    /* height:250px;
    background-color: red;debug*/
}

.footer-top .col {
    width:calc(100% / 5);
    /*min-height:250px;
    background-color: yellowgreen;
    border:2px dashed black;*/
   
}
.footer-top .col:nth-of-type(1){
    border-bottom:1px solid white;
}


.footer-top .col ul li:last-of-type{
    margin-bottom:5rem;

}



/* footer-top */

/* footer-bottom */

.footer-bottom{
   /* height:100px; debug
    background-color:violet;*/
}
.footer-bottom .container{
    /*height:50px;
        background-color:red;debug*/
    padding-top:1.5rem;
}
/* fine footer bottom*/

/* fine footer*/
